factories/pipeline/PL_get_api_data.json
{
	"name": "PL_get_api_data",
	"properties": {
		"activities": [
			{
				"name": "Until All Requests",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('pipeline_complete'),'True')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Increment offset",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "EIA to Storage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "increment",
								"value": {
									"value": "@string(add(int(variables('offset')),5001))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "EIA to Storage",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:10:00",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true",
										"": ""
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "eia_api_generation",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "eia_response_JSON",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Pipeline Complete",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "EIA to Storage",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipeline_complete",
								"value": "True"
							}
						}
					],
					"timeout": "0.2:00:00"
				}
			}
		],
		"variables": {
			"offset": {
				"type": "String",
				"defaultValue": "0"
			},
			"increment": {
				"type": "String"
			},
			"request_total": {
				"type": "String"
			},
			"pipeline_complete": {
				"type": "String"
			}
		},
		"annotations": []
	}
}