factories/pipeline/PL_get_eia_data.json
{
	"name": "PL_get_eia_data",
	"properties": {
		"activities": [
			{
				"name": "Until All Requests",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set api_key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@less(int(variables('total')),int(variables('offset')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Increment offset",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "If first run",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "increment",
								"value": {
									"value": "@string(add(int(variables('offset')),5000))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "EIA to Blob",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:10:00",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "eia_api_generation",
									"type": "DatasetReference",
									"parameters": {
										"offest": {
											"value": "@variables('offset')",
											"type": "Expression"
										},
										"api_key": {
											"value": "@variables('api_key')",
											"type": "Expression"
										},
										"start_date": {
											"value": "@pipeline().parameters.start_date",
											"type": "Expression"
										},
										"end_date": {
											"value": "@pipeline().parameters.end_date",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "eia_response_JSON",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "new_offset",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Increment offset",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "offset",
								"value": {
									"value": "@variables('increment')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If first run",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "EIA to Blob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(int(variables('offset')),0)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Lookup total",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "JsonSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": "*.json",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "JsonReadSettings"
												}
											},
											"dataset": {
												"referenceName": "eia_response_JSON",
												"type": "DatasetReference"
											}
										}
									},
									{
										"name": "Set total",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Lookup total",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "total",
											"value": {
												"value": "@string(activity('Lookup total').output.firstRow.response.total)",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					],
					"timeout": "0.2:00:00"
				}
			},
			{
				"name": "kv_get_api_key",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://energyforecast-kv.vault.azure.net/secrets/eia-api-key/6c6c52b2acb14e89ac6b1ae04567313e?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set api_key",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "kv_get_api_key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "api_key",
					"value": {
						"value": "@string(activity('kv_get_api_key').output.value)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"start_date": {
				"type": "string",
				"defaultValue": "2022-01-01T00"
			},
			"end_date": {
				"type": "string",
				"defaultValue": "2022-12-31T00"
			}
		},
		"variables": {
			"offset": {
				"type": "String",
				"defaultValue": "0"
			},
			"total": {
				"type": "String"
			},
			"increment": {
				"type": "String"
			},
			"city": {
				"type": "String"
			},
			"api_key": {
				"type": "String"
			}
		},
		"annotations": []
	}
}